<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <h1>REGISTER</h1>
    <form action="/register" method="POST">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <input type="submit" value="Submit">
        <label for="is_professor">PROFESSOR</label>
        <input type="radio" name="is_professor">
        <label for="is_alumne">ALUMNE</label>
        <input type="radio" name="is_alumner" >
    </form>
</body>
</html>